<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.hyogij.jsonclientmasterdetailview"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UserListActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AlbumListActivity"
            android:label="@string/albums_activity"
            android:parentActivityName=".UserListActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hyogij.jsonclientmasterdetailview.UserListActivity"/>
        </activity>
        <activity
            android:name=".PictureListActivity"
            android:label="@string/pictures_activity"
            android:parentActivityName=".AlbumListActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hyogij.jsonclientmasterdetailview.AlbumListActivity"/>
        </activity>
        <activity
            android:name=".PictureViewActivity"
            android:label="@string/picture_view_activity"
            android:parentActivityName=".PictureListActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hyogij.jsonclientmasterdetailview.PictureListActivity"/>
        </activity>
        <activity
            android:name=".PostListActivity"
            android:label="@string/posts_activity"
            android:parentActivityName=".UserListActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hyogij.jsonclientmasterdetailview.UserListActivity"/>
        </activity>
        <activity
            android:name=".CommentListActivity"
            android:label="@string/comments_activity"
            android:parentActivityName=".PostListActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hyogij.jsonclientmasterdetailview.PostListActivity"/>
        </activity>
    </application>

</manifest>
